{% if all_faculty %}
    <h3>Principal Investigators:</h3>
    <ul>
        {%  for faculty in all_faculty %}
        <li><a href="/members/{{ faculty.id }}/">{{ faculty.member.given_name }} {{ ' ' }} {{ faculty.member.surname }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <h3>There aren't any Principal Investigators to display.</h3>
{% endif %}

{% if all_staff %}
    <h3>Staff:</h3>
    <ul>
        {%  for employee in all_staff %}
        <li><a href="/members/{{ employee.id }}/">{{ employee.member.given_name }} {{ ' ' }} {{ employee.member.surname }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <h3>There aren't any Staff to display.</h3>
{% endif %}

{% if all_trainees %}
    <h3>Trainees:</h3>
    <ul>
        {%  for trainee in all_trainees %}
        <li><a href="/members/{{ trainee.id }}/">{{ trainee.member.given_name }} {{ ' ' }} {{ trainee.member.surname }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <h3>There aren't any Trainees to display.</h3>
{% endif %}