{% if all_members %}
    <h1>WHIG Members:</h1>
    <h3>Principal Investigators:</h3>
    <ul>
        {%  for member in all_members %}
            {% for faculty in all_faculty %}
                {% if member == faculty.member %}
                    <li><a href="/members/{{ member.id }}/">{{ member }}</a></li>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </ul>
    <h3>Staff:</h3>
    <ul>
        {%  for member in all_members %}
            {% for employee in all_staff %}
                {% if member == employee.member %}
                    <li><a href="/members/{{ member.id }}/">{{ member }}</a></li>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </ul>
    <h3>Trainees:</h3>
    <ul>
        {%  for member in all_members %}
            {% for trainee in all_trainees %}
                {% if member == trainee.member %}
                    <li><a href="/members/{{ member.id }}/">{{ member }}</a></li>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </ul>
{% else %}
    <h3>There aren't any Members to display.</h3>
{% endif %}
<a href="/">Back to Portal!</a>